[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorboardx = "*"
thop = "*"
torch = "*"
torchsummary = "*"
torchvision = "*"
tqdm = "*"
wandb = "*"
yacs = "*"
fvcore = "*"
imgaug = "*"
numpy = "*"
pillow = "*"
pyyaml = "*"
easydict = "*"
scipy = "*"
timm = "==0.6.7"
scikit-learn = "*"
matplotlib = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.10"
